*.pyc
*.pyo
sample_upload.py
db.sqlite3
Lib/
Scripts
__req.txt

.idea/
*.pyc
config/settings/secrets.json
config/settings/secrets.local.json
config/settings/secrets.staging.json
config/settings/secrets.production.json
docs/_build/*
static_root/
media/*
htmlcov/
/.coverage
.vscode*
*.xlsx
*.xls
*.zip
*.csv
*.mo
*.txt
venv/
.DS_Store
tests_students
delete
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
scripts/DATA/*.json
Traspaso.md
